### Find users

In [5]:
import time
import re
import pandas as pd
import nltk
from nltk.stem.porter import *
# from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [6]:
import sys
import tweepy
import csv

consumer_key = 'iyGs7DyQh8KKzv6iRnXfeRfnJ'
consumer_secret = '3XKqRsSLzrBpP6tWLvQNzpL524jEGgUqIkNIS1Ou4deB567wvw'
access_token = '1300342759681794050-8pyUlMtaxZEpSxHFpFxkeYTehsn7Gd'
access_token_secret = 'IjajWppeVkMHdLazOMDv06ftUuumCTHgbRDFfiqelmCMw'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth,wait_on_rate_limit=True)

In [7]:
def remove_url(txt):
    """Replace URLs found in a text string with nothing 
    (i.e. it will remove the URL from the string).

    Parameters
    ----------
    txt : string
        A text string that you want to parse and remove urls.

    Returns
    -------
    The same txt string with url's removed.
    """

    return " ".join(re.sub("([^0-9A-Za-z \t])|(\w+:\/\/\S+)", "", txt).split())

In [9]:
# Define the search term and the date_since date as variables
search_words = 'remotework'
#filter retweets
new_search = str(search_words) + " -filter:retweets"
date_since = "2020-03-01"
#Collect tweets
tweets = tweepy.Cursor(api.search,
              q=new_search,
              lang="en",
              since=date_since).items(400)
tweets_df

In [10]:
tweets

In [25]:
# Define the search term and the date_since date as variables
search_words = 'remotework'
#filter retweets
new_search = str(search_words) + " -filter:retweets"
date_since = "2020-03-01"
Collect tweets
tweets = tweepy.Cursor(api.search,
              q=new_search,
              lang="en",
              since=date_since).items(400)

# Iterate and print tweets
tweets = tweepy.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(800)
users_locs = [[tweet.user.screen_name,tweet.user.location] for tweet in tweets]

In [26]:
users_locs = pd.DataFrame(data=users_locs, 
                    columns=['user_account',"location"])
users_locs=users_locs.drop_duplicates().reset_index()
users_locs

     index     user_account                    location
0        0   TheHackersNews                The Internet
1        1       PM_Results                   Surrey UK
2        2          sspaeti      Solothurn, Switzerland
3        4   TravelMedia_ie      Dublin, London, Europe
4        5   codecidedotnet                 Chicago, IL
..     ...              ...                         ...
415    789        davidmdye   ÜT: 45.567124,-122.536006
416    791     Homervshomer
417    797       technossus  Orange County, California
418    798  samespinosa_mmc            Phoenix, Arizona
419    799       ITGURUSATL                 Atlanta, GA

[420 rows x 3 columns]

In [27]:
a = [i for i in users_locs['user_account'] if 'remote' in i]
users_locs=users_locs[~users_locs.user_account.isin(a)]

In [28]:
b=[i for i in users_locs['user_account'] if 'job' in i]
users_locs=users_locs[~users_locs.user_account.isin(b)]

In [29]:
c = [i for i in users_locs['user_account'] if 'Remote' in i]
users_locs=users_locs[~users_locs.user_account.isin(c)]

In [30]:
d = [i for i in users_locs['user_account'] if 'Job' in i]
users_locs=users_locs[~users_locs.user_account.isin(d)]

In [38]:
e= [i for i in users_locs['user_account'] if 'Code' in i]
users_locs=users_locs[~users_locs.user_account.isin(e)]
f= [i for i in users_locs['user_account'] if 'code' in i]
users_locs=users_locs[~users_locs.user_account.isin(f)]
g= [i for i in users_locs['user_account'] if 'News' in i]
users_locs=users_locs[~users_locs.user_account.isin(g)]

In [48]:
# for i in users_locs['user_account']:
# # username = 'hdavisiii'
#     username = i
#     print(username)

In [2]:
users_locs['user_account']

0           PM_Results
1              sspaeti
2       TravelMedia_ie
3            cygnetcic
4        DannyEdoBrien
            ...
377          davidmdye
378       Homervshomer
379         technossus
380    samespinosa_mmc
381         ITGURUSATL
Name: user_account, Length: 382, dtype: object

In [ ]:
tweets_df.shape

In [ ]:
tweets_df.to_csv('summary')

In [99]:
import GetOldTweets3 as got
import pandas as pd

# username = 'hdavisiii'
language = 'en'
key = 'remotework'
since_date = "2019-12-01"
until_date = "2020-01-13"
geocode="LosAngeles"
count=10000

tweetCriteria = got.manager.TweetCriteria().setQuerySearch(key).setLang(language)\
.setMaxTweets(count).setNear(geocode).setSince(since_date).setUntil(until_date)

# Creation of tweets iterable containing all queried tweet data
tweets = got.manager.TweetManager.getTweets(tweetCriteria)

# List comprehension pulling chosen tweet information from tweets
# Add or remove tweet information you want in the below list comprehension
tweets_list = [[tweet.username, tweet.text, tweet.retweets, tweet.favorites, tweet.replies, tweet.date, tweet.formatted_date, tweet.hashtags,  tweet.permalink,] for tweet in tweets]
 

# Creation of dataframe from tweets_list
# Did not include column names to simplify code
tweets_df = pd.DataFrame(tweets_list)

In [100]:
tweets_df = pd.DataFrame(tweets_list, columns = ['Tweet User',  'Text', 'Retweets', 'Favorites', 'Replies', 'Datetime', 'FormattedDate', 'Hashtags',  'Permalink'])

In [101]:
tweets_df.shape

(10000, 9)

In [102]:
tweets_df=tweets_df[tweets_df['Hashtags'] !='']

In [103]:
tweets_df.shape

(6712, 9)

In [105]:
tweets_df['Datetime'].sort_values

<bound method Series.sort_values of 2      2020-01-12 23:59:01+00:00
3      2020-01-12 23:53:16+00:00
4      2020-01-12 23:51:04+00:00
6      2020-01-12 23:29:14+00:00
7      2020-01-12 23:28:00+00:00
                  ...
9992   2019-12-19 11:00:05+00:00
9994   2019-12-19 10:51:07+00:00
9995   2019-12-19 10:33:00+00:00
9998   2019-12-19 10:17:04+00:00
9999   2019-12-19 10:13:59+00:00
Name: Datetime, Length: 6712, dtype: datetime64[ns, UTC]>

In [106]:
tweets_df.to_csv('b5.csv', index=False)

In [107]:
b5=pd.read_csv(r'b5.csv')

In [91]:
b4['Datetime'].sort_values()

6646    2020-01-14 21:03:00+00:00
6645    2020-01-14 21:03:22+00:00
6643    2020-01-14 21:05:00+00:00
6642    2020-01-14 21:05:05+00:00
6641    2020-01-14 21:11:12+00:00
                  ...
958     2020-08-27 22:49:19+00:00
5668    2020-08-27 22:49:19+00:00
5387    2020-08-27 22:49:19+00:00
5243    2020-08-27 22:49:19+00:00
1426    2020-09-01 17:23:48+00:00
Name: Datetime, Length: 6647, dtype: object

In [97]:
df=pd.concat([b1, b2, b3, b4])

In [109]:
df=pd.concat([df,b5])

In [110]:
df.shape

(28326, 9)

In [111]:
df.to_csv(r'all.csv', index=False)

In [64]:
b2=pd.read_csv(r'b2.csv')

In [67]:
print(b1.shape,b2.shape, twitter.shape)

(2122, 9) (6254, 9) (7795, 10)

In [71]:
b2['Datetime'].sort_values

<bound method Series.sort_values of 0       2020-02-29 23:57:12+00:00
1       2020-02-29 23:38:04+00:00
2       2020-02-29 23:27:05+00:00
3       2020-02-29 23:23:14+00:00
4       2020-02-29 23:20:13+00:00
                  ...
6249    2020-02-17 04:53:02+00:00
6250    2020-02-17 04:50:02+00:00
6251    2020-02-17 04:47:00+00:00
6252    2020-02-17 04:46:43+00:00
6253    2020-02-17 04:33:22+00:00
Name: Datetime, Length: 6254, dtype: object>

In [2]:
import pandas as pd
twitter=pd.read_csv(r'after_covid.csv')

In [3]:
twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7795 entries, 0 to 7794
Data columns (total 10 columns):
Unnamed: 0       7795 non-null int64
Tweet User       7795 non-null object
Text             7795 non-null object
Retweets         7795 non-null int64
Favorites        7795 non-null int64
Replies          7795 non-null int64
Datetime         7795 non-null object
FormattedDate    7795 non-null object
Hashtags         7795 non-null object
Permalink        7795 non-null object
dtypes: int64(4), object(6)
memory usage: 609.1+ KB

In [4]:
twitter['Text']=twitter['Text'].drop_duplicates()

In [7]:
twitter.dropna()

,Unnamed: 0,Tweet User,Text,Retweets,Favorites,Replies,Datetime,FormattedDate,Hashtags,Permalink
0,0,Homeys,"Working from Homeys - Although, we do take our...",0,0,0,2019-09-24,Tue Sep 24 09:30:00 +0000 2019,#WFHomeys #MyHomeys #British #UkFashion #SoCom...,https://twitter.com/Homeys/status/117642856025...
1,1,JordanTechPro,Today’s #crumbshot and a delicious ham and che...,0,0,0,2019-09-05,Thu Sep 05 12:18:22 +0000 2019,#crumbshot #SourdoughSeptember #workingfromhom...,https://twitter.com/JordanTechPro/status/11695...
2,2,mitzi_gesabel,Working in my Tiger onesie and feeling fierce....,0,0,0,2019-10-28,Mon Oct 28 18:59:51 +0000 2019,#workingfromhome #wfh #pjsallday,https://twitter.com/mitzi_gesabel/status/11888...
3,3,writer_SDW,I have new #DonaldDuck pyjamas that will be pa...,0,1,0,2019-10-28,Mon Oct 28 09:40:58 +0000 2019,#DonaldDuck #workingfromhome #wfh,https://twitter.com/writer_SDW/status/11887525...
4,4,NappingActivist,the best part of working from home on Fridays ...,2,1,0,2019-10-24,Thu Oct 24 20:40:58 +0000 2019,#cheekynap #workingfromhome #wfh #naptivist #n...,https://twitter.com/NappingActivist/status/118...
...,...,...,...,...,...,...,...,...,...,...
7790,7790,SoundIntriguing,Working from home? Not a problem! #Workingfrom...,0,1,0,2020-06-01,Mon Jun 01 12:19:54 +0000 2020,#Workingfromhome #challenging #poweroutage #co...,https://twitter.com/SoundIntriguing/status/126...
7791,7791,Superstruct_ENG,As another new month begins during the #COVID-...,0,1,0,2020-06-01,Mon Jun 01 10:04:42 +0000 2020,#COVID #Superstructures #StructuralEngineering...,https://twitter.com/Superstruct_ENG/status/126...
7792,7792,LindaKagyu,A sign of the times #COVID__19 #remoteworking ...,1,2,0,2020-06-01,Mon Jun 01 08:44:56 +0000 2020,#COVID__19 #remoteworking #workingfromhome #In...,https://twitter.com/LindaKagyu/status/12673765...
7793,7793,StiKtoonz,Part 56 of the Working from home series. Stay ...,5,7,1,2020-06-01,Mon Jun 01 07:02:14 +0000 2020,#StayHome #StayHome #COVID_19uk #covid_19 #cow...,https://twitter.com/StiKtoonz/status/126735072...
7794,7794,AbuBakaar_29,Lockdown extended till 30 june...and I am like...,1,0,0,2020-06-01,Mon Jun 01 04:28:55 +0000 2020,#lockdown #kashmir #kupwara #meme #funny #high...,https://twitter.com/AbuBakaar_29/status/126731...

In [28]:
twitter.to_csv(r'after_covid.csv')

In [30]:
a=pd.read_csv(r'after.csv')

In [11]:
twitter['Tweet User']

0                Homeys
1         JordanTechPro
2         mitzi_gesabel
3            writer_SDW
4       NappingActivist
             ...
7790    SoundIntriguing
7791    Superstruct_ENG
7792         LindaKagyu
7793          StiKtoonz
7794       AbuBakaar_29
Name: Tweet User, Length: 7795, dtype: object

In [33]:
b1=pd.read_csv(r'b1.csv')

In [38]:
b1=b1.drop(columns=['Mentions', 'Tweet to', 'URLs'], axis=1)

In [43]:
a1=pd.read_csv(r'after_covid.csv')
a1

,Unnamed: 0,Tweet User,Text,Retweets,Favorites,Replies,Datetime,FormattedDate,Hashtags,Permalink
0,0,Homeys,"Working from Homeys - Although, we do take our...",0,0,0,2019-09-24,Tue Sep 24 09:30:00 +0000 2019,#WFHomeys #MyHomeys #British #UkFashion #SoCom...,https://twitter.com/Homeys/status/117642856025...
1,1,JordanTechPro,Today’s #crumbshot and a delicious ham and che...,0,0,0,2019-09-05,Thu Sep 05 12:18:22 +0000 2019,#crumbshot #SourdoughSeptember #workingfromhom...,https://twitter.com/JordanTechPro/status/11695...
2,2,mitzi_gesabel,Working in my Tiger onesie and feeling fierce....,0,0,0,2019-10-28,Mon Oct 28 18:59:51 +0000 2019,#workingfromhome #wfh #pjsallday,https://twitter.com/mitzi_gesabel/status/11888...
3,3,writer_SDW,I have new #DonaldDuck pyjamas that will be pa...,0,1,0,2019-10-28,Mon Oct 28 09:40:58 +0000 2019,#DonaldDuck #workingfromhome #wfh,https://twitter.com/writer_SDW/status/11887525...
4,4,NappingActivist,the best part of working from home on Fridays ...,2,1,0,2019-10-24,Thu Oct 24 20:40:58 +0000 2019,#cheekynap #workingfromhome #wfh #naptivist #n...,https://twitter.com/NappingActivist/status/118...
...,...,...,...,...,...,...,...,...,...,...
7790,7790,SoundIntriguing,Working from home? Not a problem! #Workingfrom...,0,1,0,2020-06-01,Mon Jun 01 12:19:54 +0000 2020,#Workingfromhome #challenging #poweroutage #co...,https://twitter.com/SoundIntriguing/status/126...
7791,7791,Superstruct_ENG,As another new month begins during the #COVID-...,0,1,0,2020-06-01,Mon Jun 01 10:04:42 +0000 2020,#COVID #Superstructures #StructuralEngineering...,https://twitter.com/Superstruct_ENG/status/126...
7792,7792,LindaKagyu,A sign of the times #COVID__19 #remoteworking ...,1,2,0,2020-06-01,Mon Jun 01 08:44:56 +0000 2020,#COVID__19 #remoteworking #workingfromhome #In...,https://twitter.com/LindaKagyu/status/12673765...
7793,7793,StiKtoonz,Part 56 of the Working from home series. Stay ...,5,7,1,2020-06-01,Mon Jun 01 07:02:14 +0000 2020,#StayHome #StayHome #COVID_19uk #covid_19 #cow...,https://twitter.com/StiKtoonz/status/126735072...
7794,7794,AbuBakaar_29,Lockdown extended till 30 june...and I am like...,1,0,0,2020-06-01,Mon Jun 01 04:28:55 +0000 2020,#lockdown #kashmir #kupwara #meme #funny #high...,https://twitter.com/AbuBakaar_29/status/126731...

In [44]:
a1=a1.drop(columns=['Unnamed: 0'], axis=1)

In [46]:
data

,Tweet User,Text,Retweets,Favorites,Replies,Datetime,FormattedDate,Hashtags,Permalink
0,themorph,"So, #Boris to father another child. If he keep...",2,0,0,2020-02-29 23:49:46+00:00,Sat Feb 29 23:49:46 +0000 2020,#Boris #workingfromhome,https://twitter.com/themorph/status/1233902211...
1,BlackCardBiz,#GetPaid #WorkingFromHome Learn to be blessed....,0,1,0,2020-02-29 21:41:58+00:00,Sat Feb 29 21:41:58 +0000 2020,#GetPaid #WorkingFromHome,https://twitter.com/BlackCardBiz/status/123387...
2,kimschob,Why “This is How I did it” Formulas Almost Nev...,0,0,0,2020-02-29 18:00:05+00:00,Sat Feb 29 18:00:05 +0000 2020,#workingfromhome,https://twitter.com/kimschob/status/1233814211...
3,fusion_shed,Bending glass stringers over an open flame #th...,0,0,0,2020-02-29 17:04:56+00:00,Sat Feb 29 17:04:56 +0000 2020,#thefusionshed #fusedglass #fusedglassart #gla...,https://twitter.com/fusion_shed/status/1233800...
4,Claromentis,70% of people around the world work remotely a...,0,0,0,2020-02-29 16:14:02+00:00,Sat Feb 29 16:14:02 +0000 2020,#RemoteWorking #Blog #WorkingFromHome,https://twitter.com/Claromentis/status/1233787...
...,...,...,...,...,...,...,...,...,...
2117,bryanhellard,"3-5"" of snow in the forecast overnight. Want t...",0,7,0,2019-12-15 22:11:20+00:00,Sun Dec 15 22:11:20 +0000 2019,#workingfromhome,https://twitter.com/bryanhellard/status/120633...
2118,JoanneDewberry,Why You Should Invest in a Standing Desk https...,0,1,0,2019-12-15 20:26:00+00:00,Sun Dec 15 20:26:00 +0000 2019,#workingfromhome #standingdesk,https://twitter.com/JoanneDewberry/status/1206...
2119,MobileAppMogul,"""Hearing that message, I had a spiritual and m...",0,0,0,2019-12-15 17:46:16+00:00,Sun Dec 15 17:46:16 +0000 2019,#affiliatemarketing #legendarymarketer #digita...,https://twitter.com/MobileAppMogul/status/1206...
2120,JoanneDewberry,There's still time to fit in a Christmas Party...,1,1,0,2019-12-15 17:43:53+00:00,Sun Dec 15 17:43:53 +0000 2019,#selfemployed #mumsinbiz #workingfromhome,https://twitter.com/JoanneDewberry/status/1206...
2121,MrsPTweeting,Trying to do a bit of work but I *think* Jeff ...,0,3,0,2019-12-15 13:24:02+00:00,Sun Dec 15 13:24:02 +0000 2019,#catsoftwitter #workingfromhome,https://twitter.com/MrsPTweeting/status/120620...